.main-wrapper{
    height: 100%;
    width: 100%;
    text-align: left;
}

.search-content{
    border-top: 1.5px solid #00000040;
    margin-top: 5rem;
    padding-top: .7rem;
}

.hotel-container{
    width: 65%;
    text-align: left;
}

.hotel-header p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
    color: var(--black-color);
}

.hotel-header h2{
    font-size: 29px;
    font-weight: 700;
    color: var(--black-color);
}

.map-container{
    width: 35%;
    background-color: orange;
}